src/python/src/data/*.csv
src/python/src/data/*.zip
src/python/src/notebooks/
src/python/src/encodings/
src/python/src/trained_models/model
tracking/
!tracking/.gitkeep
docs/
.idea
*.pyc
src/python/.cache
customer_churn.iml
.DS_Store