src/main/python/src/data/*.csv
src/main/python/src/data/*.zip
src/main/python/src/notebooks/
src/main/python/src/encodings/*.npy
src/main/python/src/trained_models/model
src/main/python/.cache
tracking/
!tracking/.gitkeep
docs/
.idea
*.pyc
customer_churn.iml
.DS_Store
target/
.project
build.log