[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyterlab = "*"
matplotlib = "*"
seaborn = "*"

[packages]
pandas = "*"
numpy = "*"
lightgbm = "*"
tensorflow = "*"
sklearn = "*"
pytest = "*"
mlflow = "*"

[requires]
python_version = "3.7"
